@import url('https://fonts.googleapis.com/css2?family=Heebo:300&display=swap');

:root {
  --primary-color: #000;
  --secondary-color: #fff;
}


* {
  box-sizing: border-box;
}
html {
  transition: all 0.5s ease-in;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}

html.dark {
  background-color: #111;
  color: var(--primary-color);
}


body {
  background-color: #686de0;
  color:#fff;
  font-family: 'Heebo', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}